{% extends 'portfolio/base.html'%}
{% block content %}

    {% for project in projects %}

    {% load static %}

    <a href="{% static 'portfolio/VietPhan_BE_Python.pdf' %}">My CV</a>
    <a href="{% url 'blog:blog_home' %}">My blog</a>

    <br>

    <img src="{% static 'portfolio/wp_me.jpeg' %}">

    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>

    <img src="{{ project.image.url }}", width="400">

    {% if project.url %}
    <br>
    <a href="{{ project.url }}">Url</a>
    {% endif %}

    {% endfor %}

{% endblock %}